.navbar-brand {
    font-family: "Dancing Script";
    font-size: 2em;
}

.portrait-title h2 {
    display: none;
}

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 16px;
  font-weight: normal;
}
